<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Add a 3D model</title>
		<meta
			name="viewport"
			content="initial-scale=1,maximum-scale=1,user-scalable=no"
		/>
		<link
			href="https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.css"
			rel="stylesheet"
		/>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.13.1/mapbox-gl.js"></script>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
			#map {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<script src="./three-132.js"></script>
		<script src="https://unpkg.com/three@0.132.1/examples/js/loaders/GLTFLoader.js"></script>
		<script src="https://unpkg.com/three@0.132.1/examples/js/shaders/CopyShader"></script>
		<script src="https://unpkg.com/three@0.132.1/examples/js/postprocessing/EffectComposer"></script>
		<script src="https://unpkg.com/three@0.132.1/examples/js/postprocessing/ShaderPass"></script>
		<script src="./RenderPass-132.js"></script>
		<script src="https://unpkg.com/three@0.132.1/examples/js/postprocessing/AfterimagePass"></script>
		<script src="./ColorShader.js"></script>
		<script src="./ColorPass-132.js"></script>
		<div id="map"></div>
		<script type="module">
			import { GUI } from 'https://unpkg.com/three@0.140.0/examples/jsm/libs/lil-gui.module.min.js'
			mapboxgl.accessToken =
				'pk.eyJ1IjoiY2F0bnVrbyIsImEiOiJja2MwMDUxc2Iwa2RjMnFxcWk4c2cwcjQ5In0.VlIEyCroRFIp67cwUWLz1Q'
			const map = new mapboxgl.Map({
				container: 'map',
				// Choose from Mapbox's core styles, or make your own style with Mapbox Studio
				style: 'mapbox://styles/mapbox/outdoors-v10',
				zoom: 20,
				center: [148.9819, -35.3981],
				pitch: 89,
				antialias: true, // create the gl context with MSAA antialiasing, so custom layers are antialiased
			})

			// parameters to ensure the model is georeferenced correctly on the map
			const modelOrigin = [148.9819, -35.39847]
			const modelAltitude = 0
			const modelRotate = [Math.PI / 2, 0, 0]

			const modelAsMercatorCoordinate = mapboxgl.MercatorCoordinate.fromLngLat(
				modelOrigin,
				modelAltitude
			)

			// transformation parameters to position, rotate and scale the 3D model onto the map
			const modelTransform = {
				translateX: modelAsMercatorCoordinate.x,
				translateY: modelAsMercatorCoordinate.y,
				translateZ: modelAsMercatorCoordinate.z,
				rotateX: modelRotate[0],
				rotateY: modelRotate[1],
				rotateZ: modelRotate[2],
				/* Since the 3D model is in real world meters, a scale transform needs to be
				 * applied since the CustomLayerInterface expects units in MercatorCoordinates.
				 */
				scale: modelAsMercatorCoordinate.meterInMercatorCoordinateUnits(),
			}

			const THREE = window.THREE
			let composer, cube

			// configuration of the custom layer for a 3D model per the CustomLayerInterface
			const customLayer = {
				id: '3d-model',
				type: 'custom',
				renderingMode: '3d',
				onAdd: function (map, gl) {
					this.camera = new THREE.Camera()
					this.scene = new THREE.Scene()

					// create two three.js lights to illuminate the model
					// const directionalLight = new THREE.DirectionalLight(0xffffff)
					// directionalLight.position.set(0, -70, 100).normalize()
					// this.scene.add(directionalLight)

					// const directionalLight2 = new THREE.DirectionalLight(0xffffff)
					// directionalLight2.position.set(0, 70, 100).normalize()
					// this.scene.add(directionalLight2)

					// use the three.js GLTF loader to add the 3D model to the three.js scene
					const loader = new THREE.GLTFLoader()
					//不能用
					const testurl1 =
						'./gltf/AnimatedMorphSphere/glTF/AnimatedMorphSphere.gltf'
					//只能显示部分
					const testurl2 = './34M_17.gltf'
					//看不到
					const testurl3 = './gltf/BoomBox/glTF/BoomBox.gltf'
					//正常
					const testurl4 = './gltf/CesiumMan/glTF/CesiumMan.gltf'
					//正常
					const CesiumMilkTruck =
						'./gltf/CesiumMilkTruck/glTF/CesiumMilkTruck.gltf'
					//正常
					const DamagedHelmet = './gltf/DamagedHelmet/glTF/DamagedHelmet.gltf'
					//正常
					const Duck = './gltf/Duck/glTF/Duck.gltf'
					//正常
					const Flower = './gltf/Flower/Flower.glb'
					//正常
					const RobotExpressive = './gltf/RobotExpressive/RobotExpressive.glb'
					//正常
					const B1_LayerArri_Pack = './gltf/cl/2_B1_LayerArri_Pack.gltf'

					// loader.load(CesiumMilkTruck, gltf => {
						// this.scene.add(gltf.scene)
						// const target =
						// 	gltf.scene.children[2].children[0].children[4].children
						// const error = target.splice(2, 2)
						// console.log(target)
						// console.log(error)
						// console.log(this.scene)
					// })
					let ambientLight = new THREE.AmbientLight(0xffffff)
					this.scene.add(ambientLight)
					let geometry = new THREE.BoxBufferGeometry(50, 50, 50, 2, 2, 2)
					let material = new THREE.MeshPhongMaterial({
						color: '#049ef4',
						emissive: '#000000',
						specular: '#111111',
						shininess: 30,
						fog: true,
					})
					cube = new THREE.Mesh(geometry, material)
					this.scene.add(cube)
					this.map = map

					// use the Mapbox GL JS map canvas for three.js
					this.renderer = new THREE.WebGLRenderer({
						canvas: map.getCanvas(),
						context: gl,
						antialias: true,
					})

					this.renderer.autoClear = false

					composer = new THREE.EffectComposer(this.renderer)
					let renderPass = new THREE.RenderPass(this.scene, this.camera)
					composer.addPass(renderPass)
					const params2 = {
						brightness: 0,
						contrast: 1,
						saturation: 1,
						opacity: 1,
					}
					const colorPass = new ColorPass(params2)
					colorPass._realRender = colorPass.render
					colorPass.render = function (renderer) {
						renderer.setRenderTarget(this.textureComp)
						renderer.clear()
						this._realRender.apply(this, arguments)
					}
					composer.addPass(colorPass)

					// this.gui = new GUI()
					// this.gui.width = 350
					// this.gui.add(params2, 'brightness').min(-1).max(1)
					// this.gui.add(params2, 'contrast').min(0).max(2)
					// this.gui.add(params2, 'saturation').min(0).max(2)
					// this.gui.add(params2, 'opacity').min(0).max(1)
				},
				render: function (gl, matrix) {
					const rotationX = new THREE.Matrix4().makeRotationAxis(
						new THREE.Vector3(1, 0, 0),
						modelTransform.rotateX
					)
					const rotationY = new THREE.Matrix4().makeRotationAxis(
						new THREE.Vector3(0, 1, 0),
						modelTransform.rotateY
					)
					const rotationZ = new THREE.Matrix4().makeRotationAxis(
						new THREE.Vector3(0, 0, 1),
						modelTransform.rotateZ
					)

					const m = new THREE.Matrix4().fromArray(matrix)
					const l = new THREE.Matrix4()
						.makeTranslation(
							modelTransform.translateX,
							modelTransform.translateY,
							modelTransform.translateZ
						)
						.scale(
							new THREE.Vector3(
								modelTransform.scale,
								-modelTransform.scale,
								modelTransform.scale
							)
						)
						.multiply(rotationX)
						.multiply(rotationY)
						.multiply(rotationZ)

					this.camera.projectionMatrix = m.multiply(l)
					this.renderer.state.reset()
					cube.rotation.x += 0.005
					cube.rotation.y += 0.01
					// this.renderer.render(this.scene, this.camera)
					composer.render()
					this.map.triggerRepaint()
				},
			}

			map.on('style.load', () => {
				map.addLayer(customLayer, 'waterway-label')
			})
		</script>
	</body>
</html>
